.form-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-container {
    background-color: white; /* Fondo blanco para la lista */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    padding: 20px; /* Espacio interior */
    width: 80%; /* O el ancho que prefieras */
    margin: 20px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los contenidos de la lista horizontalmente */
}

.form-container h2 {
    color: #333; /* Texto oscuro para contraste */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Utiliza todo el ancho del contenedor del formulario */
}

.form-container input,
.form-container textarea {
    padding: 10px; /* Espacio interior para los campos de entrada */
    margin-bottom: 20px; /* Espacio entre los campos de entrada */
    border-radius: 5px; /* Bordes ligeramente redondeados para los campos de entrada */
    border: 1px solid #ddd; /* Borde sutil para los campos */
}

.form-container button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #800080; /* Color de fondo para el botón */
    color: white; /* Color del texto para el botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    font-size: 16px; /* Tamaño de fuente para el botón */
    transition: background-color 0.3s ease; /* Transición suave para el botón */
}

.form-container button:hover {
    background-color: #5c005c; /* Color de fondo para el botón cuando se pasa el ratón */
}

.inventory-container {
    background-color: white; /* Fondo blanco para la lista */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    padding: 20px; /* Espacio interior */
    width: 80%; /* O el ancho que prefieras */
    margin: 20px 0px; /* Centra el contenedor de la lista en la página y añade espacio arriba y abajo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los contenidos de la lista horizontalmente */
}

.inventory-container form {
    width: 100%; /* Ajusta el ancho del formulario al del contenedor */
    display: flex; /* Habilita flexbox para los elementos del formulario */
    flex-wrap: wrap; /* Permite que los elementos del formulario se ajusten según el tamaño */
    justify-content: space-around; /* Espacia los elementos uniformemente */
}

fieldset {
    border: 1px solid #ddd; /* Borde sutil para cada grupo */
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre cada grupo */
    width: 100%; /* Utiliza todo el ancho del contenedor */
}

legend {
    padding: 0 10px; /* Espacio alrededor del texto de la leyenda */
    color: #333; /* Texto oscuro para contraste */
    font-size: 18px; /* Tamaño de fuente para la leyenda */
}

label {
    margin-left: 8px; /* Espacio entre el checkbox y su etiqueta */
}

.fieldset {
    border: 1px solid #ddd; /* Borde sutil para cada grupo */
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre cada grupo */
    flex: 1; /* Los fieldset se expanden para ocupar el espacio disponible */
    min-width: 200px; /* Mínimo ancho antes de que se envuelvan, ajusta según necesidad */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los contenidos de la lista horizontalmente */
}


.sub-fieldset-container{
    width: 95%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-element{
    display: flex; /* Esto alinea los elementos (checkbox y label) en una fila */
    align-items: center; /* Esto centra los elementos verticalmente */
    text-align: left;
    margin-bottom: 10px; /* Espacio entre cada elemento del fieldset */
    width: 80%;
}
.dynamic-field-container{
    width: 100%;
    display: block;
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dynamic-field{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.fieldset .dynamic-field .action-button{
    padding: 10px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 36px;
    width: 36px;
}

.dynamic-field input{
    width: 60%;
    margin: 0%;
    margin-left: 10px;
}

.sub-fieldset input{
    margin-bottom: 0px;
    display: inline;
}
.form-container .sub-fieldset-container .standard-button{
    margin-top: 0px;
}

.sub-fieldset-container .sub-fieldset input{
    margin-bottom: 20px;
    display: inline;
}

.fieldset textarea{
    width: 80%;
    margin-top: 20px;
}


@media (max-width: 700px) {
    .form-container {
        width: 90%;
    }
    .inventory-container{
        width: 90%;
    }
    .form-page{
        width: 90%;
    }
    .standard-button{
        width: 65%;
    }
    .dynamic-field{
        width: 100%;
    }
    .dynamic-field label{
        font-size: small;
        white-space: nowrap;
    }
    .dynamic-field input{
        width: 80%;
    }
    .fieldset .dynamic-field .action-button{
        margin-left: 5px;
    }
  }